* {
  box-sizing: border-box;
  margin: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #17324d;
}

header {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
        "contactos contactos"
        "logo nombre"
        "logo menu";
}

.contactos-barra {
    grid-area: contactos;
    display: flex;
    justify-content: space-between;
    background-color: #f23883;
    padding: 10px 40px;
}

.contactos-barra a {
    color: white;
    text-decoration: none;
}

.logo {
    grid-area: logo;
}

.nombre_tienda {
    grid-area: nombre;
}

.menu-principal {
    grid-area: menu;
}